body {
  background-image: url("background.gif");
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Georgia";
  color: #009097;
}

#container {
  background-color: white;
  /* added this exercise */
  border: 10px white solid;
}

.date {
  /* added this exercise */
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

.entry {
  /* added this exercise */
  border: 4px #c2e9e9 solid;
  padding: 5px;
  background-color: #e8fbfb;
  margin-top: 10px;
}

.entry img {
  float: right;
}

#header {
  /* added this exercise */
  background-color: #a8f0f0;
  text-align: right;
}

#header h2 {
  /* added this exercise */
  font-size: 14pt;
}

.spacer {
  clear: right;
}
